<html>
	<head>
		<% include ../partials/header.ejs %>
			<title>About Me</title>
	</head>

	<body class="text-center">
	<% include ../partials/nav.ejs %>
		<h1>About Me</h1>
  		<h2>Steven Gingsum Ou</h2>

  		<p>Reserved for personal statment.</p>
  		<p>Reserved for resume.</p>
  		<p>Reserved for objectives.</p>
  		<p>etc. . .</p></a>
	</body>
</html>