<html>
	<head>
			<title>Gingsum's Homepage</title>
	</head>

	<body>
		<h1>Welcome to Gingsum's Homepage</h1>
  		<h2>Contents:</h2>

  		<a href="homepage.ejs"><p>Homepage</p></a>
  		<a href="3x3_TTT.ejs"><p>3x3 Tic Tac Toe</p></a>
  		<a href="index.ejs"><p>9x9 Tic Tac Toe</p></a>
  		<a href="about.ejs"><p>About Me</p></a>
	</body>
</html>