<html>
	<head>
		<% include ../partials/header.ejs %>
			<title>Gingsum's Homepage</title>
			<style>
				.left_adjusted{
					padding-left: 30px;
				}
				.left_adjusted2{
					padding-left: 60px;	
				}
			</style>
	</head>

	<body >
	<% include ../partials/nav.ejs %>
		<h1 class="text-center">Welcome to Gingsum's Homepage</h1>
  		<h2 class="left_adjusted">Contents:</h2>
  		<ul class="left_adjusted2">
	  		<li><h4> 3x3 Tic Tac Toe: Simple Tic Tac Toe game that everyone knows about.</h4></li>
	  		<li><h4> 9x9 Tic Tac Toe: Wanna know how complicated Tic Tac Toe can be? Check out the 9x9 Tic Tac Toe !</h4></li>
	  		<li><h4> About Me: Everything you want to know about me. </h4></li>
  		</ul>

  		<!--a href="homepage.ejs"><p>Homepage</p></a>
  		<a href="3x3_TTT.ejs"><p>3x3 Tic Tac Toe</p></a>
  		<a href="index.ejs"><p>9x9 Tic Tac Toe</p></a>
  		<a href="about.ejs"><p>About Me</p></a-->
	</body>
</html>