<html>
  <head>
    <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <style>
      .bigBoard{
        width: 720px;
      }
      .board {
        width: 220px;
        height: 220px;
        float: left;

      }
      .piece {
        width: 65px;
        height: 65px;
        float: left;
        border: 1px solid black;
      }
      .player1 {
        background-color: red;
      }
      .player2 {
        background-color: blue;
      }
      .disable{
        opacity: .5;
      }
      .player1_won{}
      .player2_won{}
      .game_over{
        opacity: .5;
      }
      .full_board{}
      /*.message0{}.message1{}.message2{}.message3{}.message4{}.message5{}.message6{}.message7{}.message8{}*/
      .title{
        width: 700px;
        height: 20px;
      }
      .test{
        background-color: black;
      }
    </style>
  </head>

  <body>
    <div class='bigBoard'>
      <div class='title'>Big Tic Tac Toe</div>
    </div>
  </body>

  <script> 
    for(var i = 0; i< 9; i++){
      $('.bigBoard').append('<div class="board"></div>');
    }
    $('.board').each(function(index,board){
      var board = $(this)
      for(var i = 0; i < 9; i++){
        //if (i == 0)
        //  board.append('<div class="message"'+index+'>Mini Tic Tac Toe #' + index + '</div>');  
        board.append('<div class="piece"></div>');
      }
    });
    
    // find winner
    function findWinner(){
      var bigBoard = [[0,0,0],[0,0,0],[0,0,0]]; 
      var totalMovesBigBoard = 0;

      $('.board').each(function(index1, tempBoard)
      {
        var big_i = Math.floor(index1/3);
        var big_j = index1%3;   

        var board = [[0,0,0],[0,0,0],[0,0,0]];
        var tempBoard = $(this)
        var tempPieces = tempBoard.children();
        var totalMoves = 0;

        tempPieces.each(function(index2, piece){

          var i = Math.floor(index2/3);
          var j = index2%3;
          var piece = $(this)

          if (piece.hasClass('player1')){
            board[i][j] = -1
            totalMoves++;
          }
          else if (piece.hasClass('player2')){
            board[i][j] = 1
            totalMoves++;
          }
        });

        // check draw

        if(totalMoves == 9){
          tempBoard.addClass('full_board')
          return;
        }

          // check horizontal and vertical
        if(!tempBoard.hasClass('player1_won') || !tempBoard.hasClass('player2_won')){
          for(var i = 0; i < 3; i++){
            if(board[i][0] == board[i][1] && board[i][1] == board[i][2] && board[i][1] != 0){
              if(board[i][0] == -1)
                tempBoard.addClass('player1_won')
              else if(board[i][0] == 1)
                tempBoard.addClass('player2_won')
              bigBoard[big_i][big_j] = board[i][0];
              return; 
            }
            else if(board[0][i] == board[1][i] && board[1][i] == board[2][i] &&board[1][i] != 0){
              if(board[0][i] == -1)
                tempBoard.addClass('player1_won')
              else if(board[0][i] == 1)
                tempBoard.addClass('player2_won')
              bigBoard[big_i][big_j] = board[0][i];
              return;
            }
          }
          // check diagonal
          if(board[0][0]==board[1][1] && board[1][1]==board[2][2] && board[1][1] != 0){
            if(board[1][1] == -1)
                tempBoard.addClass('player1_won')
              else if(board[1][1] == 1)
                tempBoard.addClass('player2_won')
            bigBoard[big_i][big_j] = board[1][1];
            return;
          }
          else if(board[0][2]==board[1][1] && board[1][1]==board[2][0] && board[1][1] != 0){
            if(board[1][1] == -1)
                tempBoard.addClass('player1_won')
              else if(board[1][1] == 1)
                tempBoard.addClass('player2_won')
            bigBoard[big_i][big_j] = board[1][1];
            return;
          }
        }
      });

      //$('.bigBoard').each(function(index3, smallBoard){
      //  var i2 = Math.floor(index3/2);
      //  var j2 = index3%2;
      //  smallBoard = $(this);
      //});
      
      // big board check horizontal and vertical
      for(var i = 0; i < 3; i++){   
        if(bigBoard[i][0] == bigBoard[i][1] && bigBoard[i][1] == bigBoard[i][2] && bigBoard[i][1] != 0){
          $('.bigBoard').addClass('game_over');
          return bigBoard[i][0]
        }else if(bigBoard[0][i] == bigBoard[1][i] && bigBoard[1][i] == bigBoard[2][i] &&bigBoard[1][i] != 0){
          $('.bigBoard').addClass('game_over');
          return bigBoard[0][i]
        }
      }


      // check diagonal
      if(bigBoard[0][0]==bigBoard[1][1] && bigBoard[1][1]==bigBoard[2][2] && bigBoard[1][1] != 0){
        $('.bigBoard').addClass('game_over');
        return bigBoard[0][0]
      }else if(bigBoard[0][2]==bigBoard[1][1] && bigBoard[1][1]==bigBoard[2][0] && bigBoard[1][1] != 0){
        $('.bigBoard').addClass('game_over');
        return bigBoard[0][0]
      }

    }

    // on click
    currentMove = 0;
    $('.board').on('click','.piece',function() {
      
      var piece = $(this);
      var currentBoard = piece.parent();
      var currentBigBoard = currentBoard.parent();

      // non-clickable conditions
      if(piece.hasClass('player1') || piece.hasClass('player2')) return;
      if(currentBoard.hasClass('disable')) return;
      if($('.bigBoard').hasClass('game_over')){
        $('.board').each(function(index,temp){
          temp = $(this)
          if(temp.hasClass('disable'))
            temp.removeClass('disable')
          }); 
        return;
      } 
      
      piece.addClass(currentMove++ % 2 == 0?'player1':'player2')

      // disabling and enabling board
      $('.board').each(function(index,board){
        var board = $(this);

        if(!board.hasClass('disable'))
          board.addClass('disable')
        if(piece.index() == index){
          board.removeClass('disable');
          // put this into another function: wild_move()
          if(board.hasClass('full_board')){   
            $('.board').each(function(index,temp){
              temp = $(this)
              if(temp.hasClass('disable'))
                temp.removeClass('disable')
            });
            return false;
          }
        }
      });

      if(findWinner() < 0)
        $('.title').text("Player 1 Wins")
      else if(findWinner() > 0)
        $('.title').text("Player 2 Wins")
//      else if(findWinner() == 'draw')
//        $('.title').text("Draw Game")


    }); 

  </script>
</html>